<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riddle solver</title>
    <link href="/styles/style.css" rel="stylesheet">
</head>

<body>
    <div class="riddle-box">
        <img src="/images/pinboard.png">
        <h1 id="Show_riddle">
            <%= riddle %>>
        </h1>
    </div>
    <button id="b1" >Show Answer</button>
    <button id="b2" >Next Riddle</button>
    <p id="hiddenText" class="hidden"></p>

    <script src="/frontend.js"></script>

</body>

</html>