body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F6E7D8;
}

h1,p{
    color: #EEEEEE;
}

p{
    font-size: larger;
    padding: 10px;
    background-color: #C73659;
    visibility: hidden;
}

img {
    width: 80%;
    height: 100vh;
}

.container{
    width: 80%;
    height: inherit;
    text-align: center;
}

.riddle-box {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
}

#Show_riddle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 10px;
}

#b2{
    display:none;
}

button {
    padding: 10px 20px;
    background-color: #A91D3A;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #C73659;
}